.formLayout { 
  width: 660px; 
  padding-top: 0;
  margin: auto;
  border: solid black 1px;	
  border-radius: 5px;  
  box-shadow: 5px 5px 2px #888;
}

.formHeading {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #637a91;
  border: 2px solid #637a91;
  color: #ffff;
  padding: 15px;
  text-align: center;
  margin-bottom: 40px;
}

.formSubmitBtn {
  background-color: #5fcf80;
  color: #ffff;
  float: center;
  margin-left: 4%;
  margin-bottom: 2%;
  padding: 2%;
  text-align: center;
  width: 92%;    
}

.icon-play {
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px
}

.icon-play::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 2px;
  left: 9px
}

.inputHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: Verdana, sans-serif;
}

.inputTextBox {
  border-radius: 5px solid #E1D9D1;
  background-color: #E1D9D1;
  margin-top: 4%; 
  padding: 5px;
  width: 200px;
}

.invalidInput {
  display: flex;
  justify-content: space-evenly;
  width: 190px;
  color: red;
  height: 65px;
  margin: 5px;
}

.content {
  font-size: 10px;
  margin-left: 4%;
  margin-bottom: 2%;
}

@media only screen and (max-device-width: 480px) {

.formLayout {
  width: 450px;
}

.formHeading {
  margin-bottom: 20px;
}

.inputTextBox {
  width: 90%;
}

.inputHeading {
  display: flex;
  flex-direction: column;
  text-align:center;
}

.invalidInput {
  width: 92%;
  height: 20px;
}

}
